* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Arial', sans-serif;
    height: 100%;
    background-color: #f0f4f9;
}

.main {
    position: relative;
    top: 0;
    left: 0; 
    right: 0;
    padding-bottom: 15vh;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
    background-color: #f0f4f9; 
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    top: 0;
    left: 240px;
    right: 0;
    z-index: 1;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.nav-options {
    display: flex;
    align-items: center;
}

.nav-button {
    background-color: #567543;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
}

.nav-button:hover {
    background-color: #4CAF50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.nav-img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

